@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* NAV BAR  */

nav {
  height: 100px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-right: 0px;
  color: #243e63;
  text-decoration: none;
  list-style: none;
  padding: 0 24px;
  width: 50%;
}

.nav__link--anchor {
  text-decoration: none;
}

.nav__link--anchor-primary {
  background-color: #6415ff;
  padding: 8px 16px;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.nav__link--anchor-primary:hover {
  background-color: #4f0eff;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  transition: all 300ms ease;
  text-decoration: none;
}

.link__hover-effect--purple:hover {
  color: #4f0eff;
  border-radius: 50px;
  transition: all 300ms ease;
  text-decoration: none;
}

h1 {
  font-family: "stystem-ui";
  font-size: 36px;
  font-weight: 700;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: left;
  margin-left: 0px;
  font: #243e63;
}

.nav_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin: 0 auto;
  gap: 8px;
}

.treact__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 300ms ease;
  transform: translate(0);
}

text {
  font: 14pxinter, system-iu;
  color: white;
  width: 100%;
  position: absolute;
  border-radius: 40px;
  transition: all 300ms ease;
  border: none;
  outline: none;
  cursor: pointer;
}

h1 {
  font-family: system-ui;
  font-size: 24px;
  font-weight: 750;
  font: #243e63;
  flex-direction: row;
  align-content: left;
}

/* ***RESPONSIVE MENU BACKDROP*** */

button:active {
  transform: translateY(1px);
}

.btn__menu {
  background-color: transparent;
  font-size: 1.125rem;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
  border-color: transparent;
  font-weight: 600;
  letter-spacing: 0.025rem;
}

.menu__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link:hover {
  color: #6415ff;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: #6415ff;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

/* LANDING PAGE  */

.row {
  width: 100%;
  margin: 0 auto;
}

.nav_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.btn {
  background-color: #6415ff;
  position: absolute;
  padding: 8px 16px;
  border-radius: 40px;
  color: #f7fafc;
  font-weight: 600;
  font-size: 16px;
  transition: all 300ms ease;
}

/* HEADER  */

.header__container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding-top: 4px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
}

.header__text {
  width: 100%;
}

.header__image {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  font: 16px;
}

.winter__designer--wrapper {
  padding: 20px;
  z-index: 2;
  width: 50%;
  margin-top: 100px;
  margin-bottom: 80px;
  flex-direction: column;
}

h2 {
  font-size: 48px;
  color: #1a202c;
}

.purple {
  color: #6415ff;
  font-weight: 700;
  font-size: 16px;
}

.purple1 {
  color: #6415ff;
  font-size: 48px;
}

.purple2 {
  color: #6415ff;
  font-size: 48px;
}

.purple3 {
  color: #6415ff;
  font-size: 48px;
  font-weight: 700;
}

.purple4 {
  color: #6415ff;
  font-size: 48px;
}

.purple5 {
  color: #6415ff;
  font-size: 48px;
}

.purple6 {
  color: #6415ff;
  font-size: 48px;
}

.purple7 {
  color: #6415ff;
  font-size: 48px;
}

img {
  width: 100%;
}

/* BUTTON  */

.btn__header {
  position: absolute;
  right: 8px;
  top: 24px;
  cursor: pointer;
}

.header__input--wrapper {
  position: relative;
}

.btn {
  font: 14pxinter, system-iu;
  color: white;
  position: absolute;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 160px;
  line-height: 2;
  border-radius: 60px;
  border-color: rgb(226, 232, 240);
  border-style: solid;
  opacity: 1;
  transition: all 300ms ease;
  justify-content: flex-end;
  flex-wrap: wrap;
  cursor: pointer;
}

input {
  box-sizing: border-box;
  border-style: solid;
  padding: 20px 192px 20px 32px;
  margin-top: 24px;
  margin-bottom: 12px;
  font: 14pxinter, system-iu;
  border-color: rgb(226, 232, 240);
  color: #ffffff;
  width: 100%;
  position: relative;
  border-radius: 40px;
  font-size: 16px;
}

/* LANDING PAGE  */

.fortune__img {
  width: 100%;
  margin-top: 12px;
  color: #a0aec0;
}

.btn__menu {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 40px;
  /* color: white; */
  cursor: pointer;
  color: #6415ff;
}

h3 {
  display: flex;
  font-size: 12px;
  color: rgb(160 174 192);
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 24px;
  margin: 16px 0px 0px;
  box-sizing: border-box;
}

/* MENU  */

.menu__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  /* visibility: hidden; */
  opacity: 0;
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
  opacity: 1;
}

.menu--open .menu__backdrop {
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: #243e63;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #6415ff;
}

.container {
  padding: 80px 0;
}

/* FEATURES  */

#checkpoint__wrapper:before {
  transform: translateY(-100%);
  top: 1px;
}

#checkpoint__wrapper:after {
  transform: translateY(100%) rotate;
  bottom: 1px;
}

.checkpoint__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 24px;
  float: left;
  width: 33%;
  padding: 4px 4px 4px 4px;
  text-align: center;
}

.checkpoint__icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  height: 24px;
  width: 24px;
  font-size: 40px;
  color: #6415ff;
}

p2 {
  font-size: 16px;
  color: #243e63;
  padding: 16px 16px 16px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

h2 {
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #1a202c;
  font-weight: 900;
  margin-bottom: 16px;
  box-sizing: border-box;
  gap: 8px;
}

h6 {
  font-size: 24px;
  color: #243e63;
  font-weight: 700;
  margin-bottom: 24px;
  box-sizing: border-box;
}

h4 {
  font-size: 24px;
  color: #6415ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #243e63;
  font-weight: 700;
  margin-bottom: 16px;
  box-sizing: border-box;
  gap: 8px;
}

p2 {
  font-size: 16px;
  color: #243e63;
  padding: 16px 16px 16px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

p1 {
  font-size: 16px;
  color: #a0aec0;
  font-weight: 500;
  line-height: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.features__container {
  width: 100%;
  /* max-width: 1400px; */
}

.features__description {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-top: 6rem;
  padding-bottom: 6rem;
  flex-wrap: wrap;
}

/* SERVICES */

/* KNOWN AS SERVICE */

.services {
  display: flex;
  flex-direction: row;
  position: relative;
}

/* SERVICES CONTAINER  */

.service__description {
  padding: 80px 0;
  flex-direction: column;
}

.section__title {
  margin-top: 296px;
  margin-bottom: 24px;
  text-align: left;
  font-size: 48px;
}

.img {
  height: 16px;
  width: 16px;
}

/* 

QUALITY SECTION

*/

h4 {
  font-size: 24px;
  color: #6415ff;
  display: flex;
  align-items: left;
  justify-content: center;
  font-weight: 700;
}

.h5 {
  display: flex;
  align-items: left;
  justify-content: center;
  font-size: 48px;
  color: #243e63;
  font-weight: 700;
  margin-bottom: 16px;
  box-sizing: border-box;
  gap: 8px;
}

.screenshot__img--wrapper {
  position: relative;
  z-index: 2;
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.quality__container {
  width: 100%;
  /* max-width: 1400px; */
  margin: 0 auto;
  height: 100%;
  padding: 72px;
  padding-top: 172px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.quality__text {
  width: 60%;
  letter-spacing: 1.6px;
}

.quality__image {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 96px 0px;
  font: 16px;
}

.quality__title {
  text-align: left;
}

.img {
  width: 100%;
}

p {
  font-size: 16px;
  color: #243e63;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-wrap: wrap;
}

p3 {
  font-size: 18px;
  margin-top: 16px;
  color: rgb(160 174 192);
  font-weight: 500;
  line-height: 1.65;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  text-wrap: wrap;
  align-items: center;
  text-align: left;
}

.h2 {
  align-items: left;
  font-size: 48px;
}

.row {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
  margin: 0 auto;
}

.h7 {
  align-items: left;
}

.section__title1 {
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-size: 48px;
  color: #243e63;
}

/* 

STEPS  

*/

.steps__container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 196px;
  height: 100%;
  padding: 72px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
}

.steps__image {
  width: 100%;
  position: relative;
}

.steps__img--wrapper {
  padding: 20px;
  z-index: 2;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 80px;
  flex-direction: column;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.steps__container--text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section__title--getstarted {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.section__title--steps {
  text-align: left;
}

.step__one {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.step__two {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.step__three {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.number {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(203 213 224);
  box-sizing: border-box;
  margin-right: 24px;
}

.quality__steps {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin-top: 28px;
}

/* PARAGRAPH CSS  */

.onetwothree {
  margin-top: 12px;
  max-width: 320px;
  color: rgb(113 128 150);
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  opacity: 1;
  margin-bottom: 28px;
}

.easy {
  margin-bottom: 24px;
  margin-top: 24px;
}

/* 

VALUES 

*/

.values__dept {
  display: flex;
}

.section__title--values {
  text-align: left;
}

.dollarsign__img--wrapper {
  padding: 20px;
  z-index: 2;
  flex-direction: row;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.suitcase__img--wrapper {
  padding: 20px;
  z-index: 2;
  flex-direction: row;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.values__img--wrapper {
  padding: 20px;
  z-index: 2;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.values__container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 72px;
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

p4 {
  font-size: 18px;
  margin-top: 16px;
  color: rgb(124 139 161);
  font-weight: 500;
  line-height: 1.65;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  text-wrap: wrap;
  align-items: center;
  text-align: left;
}

.values__row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  line-height: 1.5;
}

.values__text-dollar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.values__text-suitcase {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.values__text-dollar--paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.values__text-suitcase--paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.btn__values {
  display: flex;
  align-items: left;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 40px;
  font: 14pxinter, system-iu;
  color: white;
  background-color: #6415ff;
  margin-bottom: 8px;
  margin-top: 52px;
  width: 160px;
  border-radius: 60px;
  border-color: rgb(226, 232, 240);
  opacity: 1;
  transition: all 300ms ease;
}


/* 

PRICING 

*/

.row {
  width: 100%;
  margin: 0 auto;
}

.plan-personal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  border-top: 12px;
  border-top-color: #38b2ac;
  border-style: solid;
  margin-top: 96px;
  margin-left: 20px;
  max-width: 96%;
  width: calc(96% / 3);
  float: left;
  text-align: center;
}

.plan-business {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #4c56bf;
  background-image: linear-gradient(to bottom, #4c56bf, rgb(102 126 234));
  margin-top: 96px;
  max-width: 96%;
  width: calc(96% / 3);
  float: left;
  text-align: center;
  padding: 24px 24px 24px 24px;
}

.plan-enterprise {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border-top: 12px;
  border-top-color: rgb(245 101 101);
  border-style: solid;
  max-width: 96%;
  margin-right: 20px;
  margin-top: 96px;
  width: calc(96% / 3);
  text-align: center;
}

.plan__feature--main-business {
  font-size: 16px;
  color: white;
  background-color: rgb (102 126 234);
}

.duration {
  color: rgb (160 174 192);
}

.plan__header {
  color: black;
  font-weight: 700;
}

.plan__border-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 4px;
}

.name-biz {
  font-size: 20px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 4px;
  color: white;
}

.price {
  font-size: 48px;
  font-weight: 700;
}

.price-biz {
  font-size: 48px;
  font-weight: 700;
  color: white;
}

.duration {
  color: rgb(160 174 192);
  margin-top: 12px;
  opacity: 1;
  letter-spacing: 1.6px;
}

.duration-biz {
  color: white;
  margin-top: 12px;
  opacity: 1;
  letter-spacing: 1.6px;
}

.plan__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 16px;
}

/* PLAN FEATURES Container */

.plan__wrapper {
  width: 100%;
  display: flex;
  gap: 24px;
}

.plan__feature--main {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 20px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  padding: 32px;
}

.plan__feature--main-business {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 04px;
  font-size: 20px;
  padding: 32px;
}

.plan__feature-biz {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 2px;
  padding: 16px;
}

.plan__feature {
  color: rgb(113, 128, 150);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  padding: 16px;
}

.plan__btn--green {
  color: #f7fafc;
  background-color: #38b2ac;
  background-image: linear-gradient(to right, #38b2ac, rgb(205, 243, 245));
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 32px;
  margin-top: 48px;
  width: 160px;
  padding: 16px 16px;
  border-radius: 60px;
  font-weight: 700;
  font-size: 14px;
  font: 16pxinter, system-iu;
  opacity: 1;
  transition: all 300ms ease;
}

.plan__btn--white {
  color: #4c56bf;
  background-color: rgb (247 250 252);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 32px;
  margin-top: 48px;
  padding: 16px 16px;
  width: 160px;
  border-radius: 60px;
  font-weight: 700;
  font-size: 14px;
  font: 16pxinter, system-iu;
  opacity: 1;
  transition: all 300ms ease;
}

.plan__btn--orange {
  color: #f7fafc;
  background-color: rgb (245 101 101);
  background-image: linear-gradient(
    to right,
    rgb(245 101 101),
    rgb(254 178 178)
  );
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 32px;
  margin-top: 48px;
  padding: 16px 16px;
  width: 160px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  font: 16pxinter, system-iu;
  opacity: 1;
  transition: all 300ms ease;
}

/* 

/* 

TESTIMONIALS 

*/

.testimonials__row {
  margin-top: 96px;
  display: flex;
  width: 100%;
}

.testimonials__img--wrapper {
  width: 600px;
  margin-top: 120px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
}

.section__image-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 72px;
  flex-direction: row;
  width: 100%;
}

.testimonials__details {
  display: flex;
  align-items: right;
  float: right;
  flex-direction: column;
  width: 100%;
  padding: 72px;
  column-gap: 150px;
}

.testimonials__div {
  column-gap: 150px;
}

.testimonials__rating {
  margin: 0 auto;
  margin-top: 24px;
}

.fas {
  color: #6415ff;
  margin: 0 auto;
}

.h3__user {
  font-size: 24px;
  color: #243e63;
  width: 100%;
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1.25rem;
  display: flex;
}

.p__user-name {
  display: flex;
  font-size: 16px;
  color: rgb (74 85 104);
  font-weight: 500;
  opacity: 1;
  width: 100%;
  line-height: 1.625;
  margin-top: 1.5rem;
}

.p__user-exp {
  display: flex;
  font-size: 16px;
  color: #566e8f;
  font-weight: 500;
  opacity: 1;
  width: 85%;
  line-height: 1.625;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.charlotte {
  flex-direction: row;
  display: flex;
  width: 65%;
}

.charlotte__img--wrapper {
  padding: 20px;
  z-index: 2;
  width: 200px;
  margin-bottom: 80px;
  flex-direction: row;
  height: 250px;
  width: 200px;
  border-radius: 50%;
  height: 8rem;
}

.p__testimonials {
  color: rgb(124, 139, 161);
  font-size: 18px;
  width: 80%;
  font-weight: 600;
  line-height: 2;
  margin-top: 1.5rem;
  text-align: left;
}

.arrow {
  width: 60%;
  display: flex;
  width: 200px;
  height: 100px;
  align-items: right;
}

.testimonials__text {
  display: flex;
  float: left;
  width: 100%;
  padding: 20px 0;
}

/* 

CONTACT US - 

DEVELOPERS AROUND THE WORLD 

*/

.container__cu {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-radius: 50%;
}

.contactus__wrapper {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#contact {
  background-color: rgb(100 21 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  gap: 2rem;
  margin-bottom: 224px;
  margin-top: 224px;
  margin-left: 36px;
  margin-right: 36px;
  max-height: 300px;
}

.header__title--cu {
  color: white;
  display: flex;
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  width: 100%;
}

.contact__btn--container {
  justify-content: space-evenly;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  border-radius: 9999px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.btn__contact {
  color: white;
  background-color: rgb(245, 101, 101);
  font: 14pxinter, system iu;
  font-weight: 700;
  font-size: 16px;
  width: 180px;
  border-style: solid;
  opacity: 1;
  transition: all 300ms ease;
  cursor: pointer;
  align-items: center;
  text-align: center;
  border-radius: 9999px;
  padding: 20px 20px;
  margin-left: 250px;
  gap: 5rem;
  justify-content: center;
  float: right;
  margin-left: 150px;
}

.btn__cu {
  font: 14pxinter, system iu;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: rgb(100 21 255);
  padding: 20px 20px;
  margin-left: 350px;
  width: 180px;
  line-height: 2;
  border-radius: 9999px;
  border-color: rgb(160, 174, 192);
  border-style: solid;
  opacity: 1;
  transition: all 300ms ease;
  cursor: pointer;
  text-align: center;
}

/* 

FOOTER  SECTION 1 

*/

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer__column1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__column2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 140px;
}

.footer__row-column {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  background-color: rgb(100 21 255);
  display: flex;
  margin-top: 124px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
}

/* 

INDIVIDUAL LINKS -

MAIN, PRODUCT, TEAM ETC.  

*/

.footer__link {
  display: flex;
  flex-direction: column;
  color: white;
  width: calc(100% / 5);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  margin-top: 0px;
  border-color: transparent;
  transition: all 300ms ease;
}

.footer__link-title {
  color: white;
  font-weight: 700;
  width: calc(100% / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  margin-top: 80px;
}

.footer__link--sub {
  width: calc(100% / 5);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  line-height: 5px;
  transition: all 300ms ease;
  cursor: pointer;
  gap: 8px;
  text-align: center;
}

.footer__link--sub:hover {
  color: white;
  transform: translateY(100%);
  text-decoration: underline;
  width: calc(100% / 5);
}

/* 

/* 

FOOTER INFO  - SECOND HALF OF FOOTER


/* */

.footer__info--wrapper {
  display: flex;
  align-items: right;
  justify-content: right;
  width: 50%;
}

.footer__info {
  color: rgb(203 213 224);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 75px 75px 75px 75px;
}

/* TREACT SIGN */

.footer__logo {
  width: 3rem;
  height: 3rem;
  max-width: 100%;
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 16px;
  height: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.footer__header-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  margin-left: 40px;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  opacity: 1;
  padding: 0;
}

.footer__img-wrapper--div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.footer__img--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 35px;
  z-index: 2;
  width: 7rem;
  cursor: pointer;
  opacity: 1;
  height: 7rem;
  letter-spacing: 2em;
  transform: translateY(-5px);
}

.li {
  list-style-type: none;
  color: white;
}

/* CHANGED FLEX-DIRECTION TO ROW INSTEAD OF COLUMN AND LOST THE ICONS ON RIGHT:  */

.row__column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.footer__headings {
  display: flex;
  margin-top: 100px;
  margin-bottom: 120px;
}

/* 

RESPONSIVENESS OF SITE, PHONES, TABLETS ETC. @MEDIA 

*/

/* SMALL PHONES, LARGE SMARTPHONES 1024PX  */

/* FOOTER, CONTACT AND TESTIMONIALS HEADING TO BE FIXED */

@media (max-width: 1024px) {
  .nav__links {
    display: none;
  }

  /* HEADER  */

  .btn__menu {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    font-size: 40px;
  }

  .header__container {
    flex-wrap: wrap;
  }

  .btn__menu {
    display: block;
  }

  .h1 {
    font-size: 40px;
  }

  .h2 {
    font-size: 26px;
  }

  .button {
    font-size: 18px;
  }

  /*

   QUALITY  

   */

  .quality {
    width: 100%;
    flex-wrap: wrap;
  }

  .step__one {
    width: 100%;
    flex-direction: column;
  }

  .step__two {
    width: 100%;
    flex-direction: column;
  }

  .step__three {
    width: 100%;
    flex-direction: column;
  }

  /* 
  
  VALUES 
  
  */

  .values {
    width: 100%;
    flex-wrap: wrap;
  }

  /* 
  
  PRICING 
  
  */

  .pricing {
    width: 100%;
    flex-direction: column;
  }

  /* 
  
  TESTIMONIALS 
  
  */

  .testimonials__row {
    width: 50%;
    display: flex;
  }

  .main__header--title {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .testimonials__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .p__testimonials {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .testimonials__rating {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .h3__user {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .p__user-exp {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  /* .p__user-exp {

  } */

  .testimonials__details {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .charlotte {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h3__user {
    width: 100%;
  }

  .charlotte__img--wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  /* 

    CONTACT 
    
    */

  #contact {
    text-align: center;
  }

  .container__cu {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 120px;
  }

  .header__title--cu {
    position: relative;
    flex-direction: column;
    text-align: center;
    margin-top: 4px;
  }

  .contact__btn--container {
    width: 100;
    margin-top: 4px;
    flex-direction: column;
    justify-content: center;
  }

  .button__cu {
    margin-right: 54px;
  }

  .btn__contact {
    margin-left: 54px;
  }

  /*

   ***FOOTER*** 

   */

  .footer__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer__column1 {
    width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__column2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__headings {
    width: 30%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .footer_link {
    width: 30%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__link-title {
    width: 30%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__link--sub {
    width: 30%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__info {
    width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

/* 

***SMALL PHONES, LARGE SMARTPHONES 768PX***
***SMALL PHONES, LARGE SMARTPHONES 768PX***

 */

@media (max-width: 768px) {
  .nav__links {
    display: none;
  }

  /* HEADER  */

  .header__container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .input {
    padding: 20px 0px 20px 32px;
  }

  .header__image {
    width: 100%;
  }

  .btn__menu {
    display: block;
  }

  .h1 {
    font-size: 40px;
  }

  .h2 {
    font-size: 26px;
  }

  .button {
    font-size: 18px;
  }

  .btn__header {
    margin-bottom: 80px;
    border-radius: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn__values--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 56px; 
  }

  .header__input {
    border-radius: 40px;
    font-size: 16px;
    margin-left: 20px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .purple2 {
    flex-direction: row;
    font-weight: 700;
    font-size: 30px;
    margin-top: 16px;
    color: rgb(160 174 192);
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: #6415ff;
  }

  .winter__designer--wrapper {
    width: 100%;
  }

  /* SERVICES  */

  .checkpoint__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  /* QUALITY */

  .quality__container {
    width: 100%;
    flex-wrap: wrap;
  }

  .step__one {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .step__two {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .step__three {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /* VALUES */

  .values__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /* PRICING  */

  .pricing__div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .plan__wrapper {
    flex-direction: column;
    align-items: center;
  }

  /* TESTIMONIALS  */

  .testimonials__row {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .testimonials__img--wrapper {
    width: 100%;
  }

  .h3__user {
    font-size: 24px;
    color: #243e63;
    width: 100%;
    font-weight: 700;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .main__header--title {
    flex-direction: row;
    justify-content: center;
  }

  .p__user-exp {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .testimonials__details {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .charlotte {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .h3__user {
    width: 100%;
  }

  .charlotte__img--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  /* CONTACT  */

  .container__cu {
    width: 100%;
    display: flex;
    text-align: center;
    margin-top: 120px;
  }

  .header__title--cu {
    position: relative;
    flex-direction: column;
    margin-top: 4px;
  }

  .contact__btn--container {
    width: 25%;
    margin-top: 4px;
    flex-direction: column;
    justify-content: center;
  }

  .button__cu {
    margin-right: 124px;
  }


 /* ***FOOTER***  */

  /* FOOTER  */

  .footer__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer__column1 {
    width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__column2 {
    width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__headings {
    width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .footer_link {
    width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__link-title {
    width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__link--sub {
    width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__info {
    width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .charlotte__img--wrapper {
    width: 100%;
  }
}

/* 

***SMALL PHONES, MOBILES 496px***
***SMALL PHONES, MOBILES 496px***

/*   */

@media (max-width: 496px) {
  /* HEADER  */

  .row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 32px;
  }

  .header__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header__image {
    width: 100%;
  }

  h1 {
    font-size: 24px;
    margin-left: 20px;
  }

  .treact__logo {
    margin-left: 20px;
  }

  .button {
    font-size: 18px;
  }

  .btn__menu {
    padding: 0px 0px 24px 0px;
    display: block;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 0px;
  }

  h2 {
    width: 100%;
    text-align: center;
    flex-direction: row;
    font-size: 30px;
    font-weight: 700;
  }

  .purple2 {
    flex-direction: row;
    font-weight: 700;
    font-size: 30px;
    margin-top: 16px;
    color: rgb(160 174 192);
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: #6415ff;
  }

  .nav__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 54px;
  }

  .header__container {
    max-width: 1280px;
    justify-content: center;
    padding-top: 2.5rem;
  }

  .header__input--wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  p {
    font-size: 18px;
    margin: 8px 0px;
    flex-direction: column;
    width: 100%;
  }

  .input {
    padding: 20px 0px 20px 40px;
  }

  .btn__header {
    position: absolute;
    padding: 10x 16px 10px; 
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 40px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__input {
    border-radius: 40px;
    font-size: 16px;
    margin: 20px 20px 20px 20px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .winter__designer--wrapper {
    width: 100%;
  }

  h3 {
    margin: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
  }

  /* FEATURES */

  .checkpoint__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .checkpoint__icon {
    height: 34px;
    width: 34px;
    margin-bottom: 20px;
    background: transparent;
    border-radius: 999px;
    border-color: rgba(226, 232, 240, 0.9);
  }

  p1 {
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
  }

  .p2 {
    width: 70%;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-left: 74px;
  }

  .features__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 0px;
  }

  h5 {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    flex-direction: column;
    font-weight: 700;
    margin: 16px 16px;
    font-size: 48px;
    color: #243e63;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  .purple1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }

  /* QUALITY  */

  .quality__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .btn__values--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 36px; 
    margin-left: 224px;
  }

  .screenshot__img--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .quality__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h2 {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .purple2 {
    font-size: 30px;
    margin-top: 16px;
    color: rgb(160 174 192);
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: #6415ff;
  }

  p3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .quality__image {
    width: 100%;
    padding-top: 32px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  /* STEPS */

  .steps__container {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .steps__container--text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section__title--steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .steps__img--wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .quality__steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
    box-sizing: border-box;
  }

  .onetwothree {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .step__one {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .step__two {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .step__three {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  /* VALUES  */

  .values_row {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .values__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .values__img--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .values__img--wrapper {
    margin-top: 24px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .values__dept {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .values__text-dollar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dollarsign__img--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .values__text-dollar--paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .values__text-suitcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .suitcase__img--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .values__text-dollar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .values__text--suitcase--paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn__values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-right: 224px;
  }

  /* PRICING  */

  .three__header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 700;
  }

  .h5 {
    font-size: 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    margin-left: 92px;
    display: inline-block;
  }

  .purple6 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
  }

  .plan__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plan-personal {
    margin-left: 40px;
    width: 80%;
  }

  .plan-business {
    margin-left: 40px;
    width: 80%;
  }

  .plan-enterprise {
    margin-left: 40px;
    width: 80%;
  }

  .plan-personal,
  .plan-business,
  .plan-enterprise {
    width: 80%;
    flex-direction: column;
  }

  /* TESTIMONIALS  */

  .testimonials__row {
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .img {
    width: 100%;
  }

  .main__header--title {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .p__testimonials {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .p__user-exp {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  /* CONTACT  */

  #contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .container__cu {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .contactus__wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .header__title--cu {
    font-size: 16px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .btn__contact {
    font-size: 16px;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 32px;
    margin-left: 72px; 
  }

  .btn__cu {
    font-size: 16px;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 102px;
    width: 180px;
    padding: 20px 20px;
    margin-left: 72px; 
    gap: 10rem;
  }

  /* FOOTER  */

  .footer__container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .footer__row-column {
    width: calc (100% / 5);
    flex-direction: row;
    justify-content: center;
  }

  .footer__link {
    width: calc (100% / 5);
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer__link--title {
    width: calc (100% / 5);
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer_link {
    font-size: 16px;
    width: calc (100% / 5);
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer__link--sub {
    width: calc (100% / 5);
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer__info {
    width: 100%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}
