@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

/* NAV BAR  */

nav {
  height: 100px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-right: 0px;
  color: #243e63;
  text-decoration: none;
  list-style: none;
  padding: 0 24px;
  width: 50%;
}

.nav__link--anchor {
  text-decoration: none;
}

.nav__link--anchor-primary {
  background-color: #6415ff;
  padding: 8px 16px;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.nav__link--anchor-primary:hover {
  background-color: #4f0eff;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  transition: all 300ms ease;
  text-decoration: none;
}

h1 {
  font-family: "stystem-ui";
  font-size: 36px;
  font-weight: 700;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: left;
  margin-left: 0px;
  font: #243e63;
}

.nav_container {
  display: flex;
  width: 100%;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin: 0 auto;
  gap: 8px;
}

.treact__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 300ms ease;
  transform: translate(0);
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (min-width: 768px) {
  .header__description {
    padding: 0 24px;
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */

@media (max-width: 1024px) {
  .btn__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.button {
  background-color: #6415ff;
  padding: 12 32px;
  font: 14pxinter, system-iu;
  color: white;
  position: absolute;
  width: 100%;
  border-radius: 40px;
  transition: all 300ms ease;
  border: none;
  outline: none;
  cursor: pointer;
}

text {
  font: 14pxinter, system-iu;
  color: white;
  width: 100%;
  position: absolute;
  border-radius: 40px;
  transition: all 300ms ease;
  border: none;
  outline: none;
  cursor: pointer;
}

h1 {
  font-family: system-ui;
  font-size: 24px;
  font-weight: 750;
  font: #243e63;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-content: left;
}

/* LANDING PAGE  */

.row {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.nav_container {
  display: flex;
  width: 100%;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.btn {
  background-color: #6415ff;
  position: absolute;
  padding: 8px 16px;
  border-radius: 40px;
  color: #f7fafc;
  font-weight: 600;
  font-size: 16px;
  transition: all 300ms ease;
}

/* HEADER  */

.header__container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  padding-top: 4px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__text {
  width: 100%;
  max-width: 1400px;

  /* margin: 0 auto; */
}

.header__image {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  font: 16px;
}

.winter__designer--wrapper {
  /* width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; */
  padding: 20px;
  z-index: 2;
  width: 50%;
  margin-top: 100px;
  margin-bottom: 80px;
  flex-direction: column;
}

h2 {
  font-size: 36px;
  color: #1a202c;
}

.purple {
  color: #6415ff;
  font-weight: 700;
  font-size: 16px;
  /* text-align: left; */
}

.purple1 {
  color: #6415ff;
  font-size: 48px;
}

.purple2 {
  color: #6415ff;
  font-size: 48px;
}

.purple3 {
  color: #6415ff;
  font-size: 48px;
  font-weight: 700;
}

.purple4 {
  color: #6415ff;
  font-size: 48px;
}

.purple5 {
  color: #6415ff;
  font-size: 48px;
}

.purple6 {
  color: #6415ff;
  font-size: 48px;
}

.purple7 {
  color: #6415ff;
  font-size: 48px;
}

img {
  width: 100%;
}

/* BUTTON  */

.btn__header {
  position: absolute;
  right: 8px;
  top: 24px;
  cursor: pointer;
}

.header__input--wrapper {
  position: relative;
}

.btn {
  /* padding: 12 32px; */
  font: 14pxinter, system-iu;
  color: white;
  position: absolute;
  margin-bottom: 8px;
  margin-top: 8px;
  /* margin-right: 124px; */
  width: 160px;
  line-height: 2;
  border-radius: 60px;
  border-color: rgb(226, 232, 240);
  border-style: solid;
  opacity: 1;
  transition: all 300ms ease;
  justify-content: flex-end;
  flex-wrap: wrap;
  cursor: pointer;
}

input {
  box-sizing: border-box;
  border-style: solid;
  padding: 20px 192px 20px 32px;
  margin-top: 24px;
  margin-bottom: 12px;
  font: 14pxinter, system-iu;
  border-color: rgb(226, 232, 240);
  color: #ffffff;
  width: 100%;
  position: relative;
  border-radius: 40px;
  font-size: 16px;
  /* border-radius: 999px; */
}

/* LANDING PAGE  */

.fortune__img {
  width: 100%;
  margin-top: 12px;
  color: #a0aec0;
}

.btn__menu {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

h3 {
  display: flex;
  font-size: 12px;
  color: rgb(160 174 192);
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 24px;
  margin: 16px 0px 0px;
  box-sizing: border-box;
}

/* MENU  */

.menu__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  visibility: hidden;
  opacity: 0;
}

.menu__open {
  max-height: 100vh;
  overflow: hidden;
  opacity: 1;
}

.menu--open,
.menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
  /* text-decoration: none; */
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
}

.container {
  padding: 80px 0;
}

/* FEATURES  */

h2 {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #1a202c;
  font-weight: 700;
  margin-bottom: 16px;
  box-sizing: border-box;
  gap: 8px;
}

h6 {
  font-size: 24px;
  color: #243e63;
  font-weight: 700;
  margin-bottom: 24px;
  box-sizing: border-box;
}

h4 {
  font-size: 24px;
  color: #6415ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #243e63;
  font-weight: 700;
  margin-bottom: 16px;
  box-sizing: border-box;
  gap: 8px;
}

p2 {
  font-size: 16px;
  color: #243e63;
  /* margin-top: 12px;
  margin-bottom: 24px; */
  margin: 16px 0px 0px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.row {
  max-width: 1400px;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
  margin: 0 auto;
}

.features__container {
  padding: 80px 0;
  width: 100%;
  max-width: 1400px;
  /* margin: 0 auto; */
  /* flex-wrap: wrap; */
}

.features__description {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-top: 6rem;
  padding-bottom: 6rem;
  flex-wrap: wrap;
}

/* SERVICES */

/* KNOWN AS SERVICE */

.service {
  display: flex;
  position: relative;
  /* width: calc(100% / 3); */
}

/* SERVICES CONTAINER  */

.service__description {
  padding: 80px 0;
  flex-direction: column;
}

/* KNOWN AS SERVICES */

.services__container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.checkpoint__wrapper {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}

/* .checkpoint__text {
  font-size: 16px;
  color: #243e63;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 52px;
  padding: 32px 8px;
} */

p1 {
  font-size: 16px;
  margin-top: 16px;
  color: #a0aec0;
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0px 0px;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  text-wrap: wrap;
}

.checkpoint__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  font-size: 40px;
  color: #6415ff;
}

.section__title {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: left;
  font-size: 48px;
}

.img {
  height: 16px;
  width: 16px;
}

/* QUALITY */

h4 {
  font-size: 24px;
  color: #6415ff;
  display: flex;
  align-items: left;
  justify-content: center;
  font-weight: 700;
}

.h5 {
  display: flex;
  align-items: left;
  justify-content: center;
  font-size: 48px;
  color: #243e63;
  font-weight: 700;
  margin-bottom: 16px;
  box-sizing: border-box;
  gap: 8px;
}

.screenshot__img--wrapper {
  /* padding: 120px; */
  z-index: 2;
  width: 100%;
  /* margin-top: 100px; */
  /* margin-bottom: 80px; */
  flex-direction: column;
}

.quality__container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  padding: 72px;
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.quality__text {
  width: 100%;
  max-width: 1400px;
  letter-spacing: 1.6px;
}

.quality__image {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 96px 0px;
  font: 16px;
}

.quality__title {
  /* align-items: left; */
  text-align: left;
}

.img {
  width: 100%;
}

p {
  font-size: 16px;
  color: #243e63;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-wrap: wrap;
}

p3 {
  font-size: 18px;
  margin-top: 16px;
  color: rgb(160 174 192);
  font-weight: 500;
  line-height: 1.65;
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0px 0px;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  text-wrap: wrap;
  align-items: left;
  text-align: left;
}

.h2 {
  align-items: left;
  font-size: 48px;
}

.row {
  max-width: 1400px;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
  margin: 0 auto;
}

.h7 {
  align-items: left;
}

.section__title1 {
  align-items: left;
  /* width: 100%; */
}

/* STEPS  */

.row {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.section__steps-title {
  display: flex;
  align-items: left;
  width: 75%;
}

.steps__container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  padding: 72px;
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.steps__text {
  width: 100%;
  position: relative;
}

.steps__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
  margin: 0 auto;
}

.steps__description--2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
*/ .steps__number {
  display: flex;
}

.steps__container {
  display: flex;
}

.steps__header {
  display: flex;
  flex-direction: column;
}

.steps__img--wrapper {
  padding: 20px;
  z-index: 2;
  width: 50%;
  margin-top: 100px;
  margin-bottom: 80px;
  flex-direction: column;
  display: flex;
  align-items: left;
  justify-content: space-between
}

.onetwothree {
  margin-top: 12px;
  max-width: 320px;
  color: rgb(113 128 150);
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  opacity: 1;
}

.quality__steps {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  /* color: #f3ebeb */
}

.number {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(203 213 224);
  box-sizing: border-box;
}

/* VALUES */

/* use color rgb(100,21, 255) */
/* border top color rgb(229, 231, 235) */


.dollarsign__img--wrapper {
  padding: 20px;
  z-index: 2;
  width: 20%;
  margin-top: 100px;
  margin-bottom: 80px;
  flex-direction: column;
  display: flex;
  align-items: left;
  justify-content: space-between
}

.suitcase__img--wrapper {
  padding: 20px;
  z-index: 2;
  width: 20%;
  margin-top: 100px;
  margin-bottom: 80px;
  flex-direction: column;
  display: flex;
  align-items: left;
  justify-content: space-between
}

.values__container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  padding: 72px;
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: left;
}


.values__text {
  width: 100%;
  max-width: 1400px;
  letter-spacing: 1.6px;
}

.values__img--wrapper {
  padding: 20px;
  z-index: 2;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 80px;
  flex-direction: row;
}

.values__row {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: row;
}

.values__text-dollar {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: space-between
}


.values__text-suitcase {
  width: 100%;
  display: flex;
}


/* PRICING */

.row {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.plans__container {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}


/* TESTIMONIALS */

.testimonials__img--wrapper {
  padding: 20px;
  z-index: 2;
  width: 50%;
  margin-top: 100px;
  margin-bottom: 80px;
  flex-direction: column;
}

.charlotte__img--wrapper {
  padding: 20px;
  z-index: 2;
  width: 8rem;
  margin-top: 100px;
  margin-bottom: 80px;
  flex-direction: column;
  border-radius: 40px;
  height: 8rem;
}

.testimonials__description {
  display: flex;
}

.testimonials__container {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
}


/* FOOTER  */


.footer {
  background-color: #4f0eff;
}

.footer__logo {
  width: 2rem;
  height: 2rem;
  max-width: 100%;
  height: auto;
  text-decoration: none
}

.row {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.footer__lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
}

/* INDIVIDUAL LINKS - MAIN, PRODUCT, TEAM ETC.  */

.footer__link {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  align-items: center;
  text-decoration: none;
}

.footer__info {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer__header-image {
  display: flex;
  align-items: left;
  justify-content: space-between;
  margin-left: 0.5rem;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  opacity: 1;
  
  /* margin: 24px 0px 0px 24px; */
}

.footer__img--wrapper {
  display: flex;
  align-items: right;
  padding: 32px;
  z-index: 2;
  width: 10rem;
  cursor: pointer;
  opacity: 1;
  flex-direction: row;
  height: 6rem;
  letter-spacing: 2em; 
  position: relative; 
}

.li {
  list-style-type: none;
}

.row row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__product {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__press {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__team {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__legal {
  display: flex;
  align-items: center;
  justify-content: center;
}